<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <title>Review</title>
</head>

<body>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <h1>Share Your Valuable Review</h1>
  <form method="POST" action="">
    <div class="form-group container">
      {% csrf_token %}
      <label for="exampleInputEmail1">Review</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="Review">
      <small id="emailHelp" class="form-text text-muted">we watch you </small>


      <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Submit</button>
    </div>
   
  </form>
  <div data-toggle="modal" data-target="#exampleModal">
    
    <div class="container">
      {% if b %}
              <span style='font-size:100px;'>&#128512;</span>
              <h3>Thanks for Your Positive Feedback !!!!!</h3>
              {% elif b == 0  %}
              <span style='font-size:100px;'>&#128520;</span>
              <h3>Sorry For The Inconvinence Caused !!!!</h3>>
              {% endif %}
      
    </div>

  </div>
</body>

</html>